/* -------------------------------------------
Radio Button styles here... */

.radio {
    margin: 0 40px 23px 0;

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        + .radio-label {
            &:before {
                content: '';
                background: $white;
                border: 1px solid $border-color;
                display: inline-block;
                @include size(20px, 20px);
                position: relative;
                top: 0;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                margin-right: 10px;
                @include border-radius(100%);
                @include transition(all 250ms ease);
            }

            &:hover{
                &:before{
                    border-color: $link-color;
                }
            }
        }
        &:checked {
            + .radio-label {
                &:before {
                    border-color: $link-color;
                    background-color: $white;
                    @include box-shadow(0 0 0 5px $link-color inset);
                }
            }
        }
        &:focus {
            + .radio-label {
                &:before {
                    outline: none;
                    border-color: $link-color;
                }
            }
        }
        &:disabled {
            + .radio-label {
                &:before {
                    border-color: #c4c8ef;
                    background: $white;
                    @include box-shadow(0 0 0 5px #c4c8ef inset);
                }
            }
        }
        + .radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}
